<!-- TO GET FORM ID AND SETTINGUP LANGAUGE. -->
<input type="hidden" #ServiceDetails name="ServiceDetails" value="ServiceDetails">
<div class="card mb-5 mb-xl-8">
    <!--begin::Header--> 
    <div class="card-header border-0 pt-5 header_waves">
        <div class="card-toolbar" *ngFor="let label of formHeaderLabels; let i = index">
            <h3 class="text-dark ArFontStyle header_color" lang="AR-SA" id="ServiceDetails">{{label.headerName}}</h3>
        </div>
        <div class="d-flex justify-content-between gap-4">
            <h3 class="card-title align-items-start flex-column">
                <div class="btn-group" role="group" aria-label="Basic example" *ngFor="let bodyLabel of formBodyLabels; let i = index">
                    <button type="button" class="btn btn-primary ArFontStyle btn_green-pool-tb" lang="AR-SA" (click)="openLoanForm()">{{bodyLabel[0].title}}</button>
                    <button type="button" class="btn btn-primary ArFontStyle btn_green-pool-tb" lang="AR-SA">{{bodyLabel[1].title}}</button>
                </div>
            </h3>
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3" *ngFor="let bodyLabel of formBodyLabels; let i = index">       
        <!-- <div class="table-responsive mt-3">
            <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
                <thead class="bg-secondary">
                    <tr class="fw-bolder">
                        <th class="min-w-80px text-center ArFontStyle" lang="AR-SA">{{bodyLabel[3].title}}</th>
                        <th class="min-w-100px ArFontStyle" lang="AR-SA">{{bodyLabel[4].title}}</th>
                        <th class="min-w-120px ArFontStyle" lang="AR-SA">{{bodyLabel[5].title}}</th>
                        <th class="min-w-120px ArFontStyle" lang="AR-SA">{{bodyLabel[6].title}}</th>
                        <th class="min-w-120px ArFontStyle" lang="AR-SA">{{bodyLabel[7].title}}</th>
                        <th class="min-w-120px ArFontStyle" lang="AR-SA">{{bodyLabel[8].title}}</th>
                        <th class="min-w-120px ArFontStyle" lang="AR-SA">{{bodyLabel[9].title}}</th>
                        <th class="min-w-120px ArFontStyle" lang="AR-SA">{{bodyLabel[10].title}}</th>
                        <th class="min-w-120px ArFontStyle" lang="AR-SA">{{bodyLabel[11].title}}</th>
                        <th class="min-w-120px ArFontStyle" lang="AR-SA">{{bodyLabel[12].title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">                            
                            <a href="javascript:void(0)" class="bi bi-trash3-fill fs-2 text-danger">
                            </a>
                            | <a href="javascript:void(0)" class="bi bi-pencil-square fs-2">
                            </a>
                            |
                            <a href="javascript:void(0)" class="bi bi-credit-card fs-3 text-success">
                            </a>                           
                        </td>
                        <td>
                            <a href="javascript:void(0)"
                                class="text-dark fw-bolder text-hover-primary  fs-6 ArFontStyle" lang="AR-SA"> X-1234-2343 سالم مرزوق راشد الطحيح	
                            </a>
                        </td>
                        <td>
                            <a href="javascript:void(0)"
                                class="text-dark fw-bolder text-hover-primary  fs-6 ArFontStyle" lang="AR-SA">Drop a
                                Membership
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle"
                                lang="AR-SA">

                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle"
                                lang="AR-SA">
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle"
                                lang="AR-SA"></a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle"
                                lang="AR-SA"></a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle"
                                lang="AR-SA"></a>
                        </td>
                        <td>
                            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6 ArFontStyle"
                                lang="AR-SA"></a>
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </div> -->
        <div class="row gx-9 gy-6">
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="w-100" floatLabel="never" >
                    <mat-label>Search</mat-label>
                    <input type="search" matInput formControlName="searchTerm" (keyup)="filterRecords()" class="ArFontStyle"/>
                    <mat-icon matPrefix class="material-icons">search</mat-icon>                        
                    <mat-icon matSuffix (click)="clearFilter()" class="material-icons">close</mat-icon>
                </mat-form-field>
                <div class="table-container service-details-table">
                    <table mat-table class="w-100" [dataSource]="returnTransactionHdDto" matSort>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let item" class="w-25 text-right actionTdClass">
                                <button mat-raised-button color="warn" (click)="openDeleteModal(deleteModal,item.mytransid)">Delete</button> |                                
                                <button mat-raised-button color="accent" routerLink="/service-setup/add-service/{{item.mytransid}}">Edit</button> |
                                <button mat-raised-button color="primary" routerLink="/service-setup/view-service-detail/{{item.mytransid}}">View</button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="transId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trans Id </th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle" >{{item.mytransid}}</td>
                        </ng-container>
                        <ng-container matColumnDef="employeeName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name </th>
                            <td mat-cell *matCellDef="let item" class="w-70 ArFontStyle" >{{item.englishName}} {{item.employeeId}} {{item.pfId}} {{item.cid}}</td>
                        </ng-container>
                        <ng-container matColumnDef="services">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Service</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.serviceType}}</td>
                        </ng-container>
                        <ng-container matColumnDef="installments">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Installment</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.installment}}</td>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.amount}}</td>
                        </ng-container>
                        <ng-container matColumnDef="dated">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dated</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.payDate}}</td>
                        </ng-container>
                        <ng-container matColumnDef="paid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Paid</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.paid}}</td>
                        </ng-container>
                        <ng-container matColumnDef="payDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>PayDate</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.payDate}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"
                            [ngClass]="{'hidden':!isLoadingCompleted}" class="row_header"></tr>
                        <tr mat-row *matRowDef="let formTitleHd; columns: columnsToDisplay"></tr>
                    </table>
                </div>
                <div [ngClass]="{'hidden':!isLoadingCompleted}">
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </form>
        </div>
    </div>
    <!--begin::Body-->
    <div class="card-footer">

    </div>
</div>
<!--Delete Modal-->
<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <span>Do you want to delete this record</span>
            </div>
        </form>
    </div>
    <div class="modal-footer text-right">
        <button mat-raised-button color="warn" (click)="modal.close('yes')">Yes</button> &nbsp;&nbsp;
        <button mat-raised-button color="accent" (click)="modal.close('Save click')">No</button>
    </div>
</ng-template>