.panel2bgColor{
    background-color: var(--celtic-blue);
}
.ArFontStyle{
    font-family:"Tahoma","sans-serif"
}

.btn-bg{
    background-color: var(--blueberry);
}

.header_color{
    color: #fff !important;
}