<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header card-header-stretch pb-0 panel1bgColor">
        <!--begin::Title-->
        <div class="card-title">
            <h3 class="m-0 text-white ArFontStyle header_color" lang="AR-SA">Manage App Language</h3>
        </div>
        <!--end::Title-->
    </div>
    <!--end::Card header-->
    <!--begin::Tab content-->
    <div id="kt_billing_payment_tab_content" class="card-body tab-content">
        <!--begin::Tab panel-->
        <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
            <!--begin::Title-->
            <!-- <h3 class="mb-5">Personal Information</h3>-->
            <!--end::Title-->
            <div class="row gx-9 gy-6">
                <form [formGroup]="formGroup">
                    <mat-form-field appearance="fill" class="w-100" floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input type="search" matInput formControlName="searchTerm" (keyup)="filterRecords()"
                            class="ArFontStyle" />
                        <mat-icon matPrefix class="material-icons">search</mat-icon>
                        <mat-icon matSuffix (click)="clearFilter()" class="material-icons">close</mat-icon>
                    </mat-form-field>
                    <div class="table-container">
                        <table mat-table class="w-100" [dataSource]="formTitleHd" matSort [dir]="direction">
                            <ng-container matColumnDef="formID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Form Id</th>
                                <td mat-cell *matCellDef="let item" class="w-25 ArFontStyle">{{item.formID}}</td>
                            </ng-container>

                            <ng-container matColumnDef="formName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Form Name</th>
                                <td mat-cell *matCellDef="let item" class="w-25 ArFontStyle">{{item.formName}}</td>
                            </ng-container>
                            <ng-container matColumnDef="headerNameEn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Header Name En</th>
                                <td mat-cell *matCellDef="let item" class="w-25 ArFontStyle">{{item.headerName}}</td>
                            </ng-container>
                            <ng-container matColumnDef="subHeaderNameEn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Header En</th>
                                <td mat-cell *matCellDef="let item" class="w-25 ArFontStyle">{{item.subHeaderName}}</td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>Action</th>
                                <td mat-cell *matCellDef="let item">
                                    <button mat-raised-button color="accent"
                                        routerLink="/references/update-labels/{{item.formID}}"
                                        id={{item.formID}}>Select</button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"
                                [ngClass]="{'hidden':!isLoadingCompleted}" class="table_header_bg"></tr>
                            <tr mat-row *matRowDef="let formTitleHd; columns: columnsToDisplay"
                                [style.display]="formTitleHd.language == 2 ? 'none' : '' "></tr>

                        </table>
                    </div>
                    <div [ngClass]="{'hidden':!isLoadingCompleted}">
                        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>