<!-- TO GET FORM ID AND SETTINGUP LANGAUGE. [disabled]="!offerForm.valid"-->
<input type="hidden" #OfferDetails name="OfferDetails" value="OfferDetails">
      

<ngb-accordion #ngbAddOffer="ngbAccordion"  
*ngFor="let label of formHeaderLabels; let i = index" class="offer_details">
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <h3 class="m-0 ArFontStyle" lang="AR-SA">Add Offer</h3>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="row">
                <div class="col-lg-6 fv-row">

                </div>
                <div class="col-lg-6 fv-row text-left">
                    <div class="btn-group" role="group" aria-label="Basic example"
                        *ngFor="let bodyLabel of formBodyLabels; let i = index">
                        <button mat-raised-button color="primary" class="float-left" (click)="onOfferFormSubmit()"
                            form="userForm" [disabled]="!offerForm.valid">{{bodyLabel[0].title}}</button> &nbsp;&nbsp;
                        <button mat-raised-button color="accent" class="float-left"
                            (click)="resetForm()">{{bodyLabel[1].title}}</button>
                    </div>
                </div>
            </div>
            <div class="row gx-9 gy-6" *ngFor="let bodyLabel of formBodyLabels; let i = index">
                <div class="row gx-9 gy-6" *ngFor="let bodyLabel of formBodyLabels; let i = index">
                    <form autocomplete="off" [formGroup]="offerForm" id="offerForm">
                        <div class="row">
                            <div class="col-lg-6 fv-row">
                                <div class="mt-4">
                                    <input type="hidden" formControlName="serviceId" />
                                    <label for="formFile" class="form-label ArFontStyle"
                                        lang="AR-SA">{{bodyLabel[2].title}}</label><br>
                                    <input #file type="file" class="form-control form-control-lg  mb-3 mb-lg-0"
                                        [hidden]="true" formControlName="offerImage" 
                                        (change)="onOfferFileSelectChange($event)" title="testing" />
                                    <div class="d-flex">
                                        <button class="btn btn-sm btn-upload" (mousedown)="file.click()">Choose
                                            file</button>
                                        <div class="border border-secondary rounded p-3 w-100" style="height: 43px;">
                                            {{!offerFile? "No file choosen":offerFile}}
                                        </div>
                                    </div>
                                    <span class="text-danger"
                                    *ngIf="(_offerForm.offerImage.touched || isFormSubmitted) && _offerForm.offerImage.errors?.required">
                                    Offer image is required
                                </span>
                                </div>
                            </div>
                            <div class="col-lg-6 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                    lang="AR-SA">{{bodyLabel[3].title}}</label>
                                <ng-select [items]="offerType$ | async" bindValue="refId" bindLabel="shortname"
                                    formControlName="offerType" (change)="onOfferTypeChange($event)" lang="AR-SA">
                                </ng-select>
                                <span class="text-danger"
                                    *ngIf="(_offerForm.offerType.touched || isFormSubmitted) && _offerForm.offerType.errors?.required">
                                    Offer is required
                                </span>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-lg-4 fv-row">
                                <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                    lang="AR-SA">{{bodyLabel[4].title}}</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" bsDatepicker
                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                                        formControlName="offerStartDate" />
                                </div>
                                <span class="text-danger"
                                    *ngIf="(_offerForm.offerStartDate.touched || isFormSubmitted) && _offerForm.offerStartDate.errors?.required">
                                    Start date is required
                                </span>
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                    lang="AR-SA">{{bodyLabel[5].title}}</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" bsDatepicker
                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" formControlName="offerEndDate" />
                                </div>
                                <span class="text-danger"
                                    *ngIf="(_offerForm.offerEndDate.touched || isFormSubmitted) && _offerForm.offerEndDate.errors?.required">
                                    End date is required
                                </span>
                            </div>
                                <div class="col-lg-4 fv-row">
                                    <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                        lang="AR-SA">{{bodyLabel[6].title}}</label>
                                    <input type="number" class="form-control form-control-lg  mb-3 mb-lg-0"
                                        formControlName="offerAmount" name="offerAmount" id="offerAmount" />
                                        <span class="text-danger"
                                        *ngIf="(_offerForm.offerAmount.touched || isFormSubmitted) && _offerForm.offerAmount.errors?.required">
                                        Amount is required
                                </span>
                                </div>
                                
                        </div>
                        
                    </form>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
<br />
<app-html-forms [parentFormGroup]="parentForm">
</app-html-forms>
<br/>


<ngb-accordion #ngbOfferDetails="ngbAccordion" activeIds="ngb-panel-1" opened="true">
    <ngb-panel id="ngb-panel-1">
        <ng-template ngbPanelTitle>
            <h3 class="m-0 ArFontStyle" lang="AR-SA">Offer Details</h3>
        </ng-template>
        <ng-template ngbPanelContent>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="w-100" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input type="search" matInput formControlName="searchTerm" (keyup.enter)="filterRecords()"
                        class="ArFontStyle" />
                    <mat-icon matPrefix class="material-icons">search</mat-icon>
                    <mat-icon matSuffix (click)="clearFilter()" class="material-icons">close</mat-icon>
                </mat-form-field>
                <div class="table-container">
                    <table mat-table class="w-100" [dataSource]="offers" matSort>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="ArFontStyle"></th>
                            <td mat-cell *matCellDef="let item" class="w-20 text-right">
                                <button mat-raised-button color="warn"
                                    (click)="open(deleteModal,item.serviceId)">Delete</button> |
                                <button mat-raised-button color="accent"
                                    (click)="editData(item.serviceId)">Edit</button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="offerTypeName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">Offer Type</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle w-10">{{item.offerTypeName }}</td>
                        </ng-container>
                        <ng-container matColumnDef="offerStart">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">Offer Start</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle w-10">{{item.offerStartDate | date:
                                'dd/MM/yyyy'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="offerEnd" class="w-30">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">Offer End</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle w-10">{{item.offerEndDate | date:
                                'dd/MM/yyyy'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="offerAmount" class="w-20">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">Offer Amount</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle w-10">{{item.offerAmount }}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"
                            [ngClass]="{'hidden':!isLoadingCompleted}" class="som_t_header"></tr>
                        <tr mat-row *matRowDef="let offers; columns: columnsToDisplay"></tr>
                    </table>
                </div>
                <div [ngClass]="{'hidden':!isLoadingCompleted}">
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </form>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

<!--Delete Modal-->
<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Offer</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <span>Do you want to delete this record</span>
            </div>
        </form>
    </div>
    <div class="modal-footer text-right">
        <button mat-raised-button color="warn" (click)="modal.close('yes')">Yes</button> &nbsp;&nbsp;
        <button mat-raised-button color="accent" (click)="modal.close('Save click')">No</button>
    </div>
</ng-template>