<ngb-accordion #ngbListUsers="ngbAccordion" activeIds="ngb-panel-0" class="searchUsermst">
    <ngb-panel title="{{ 'content.functionMSTDetails' | translate }}">
        <ng-template ngbPanelContent>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="w-100" floatLabel="never" >
                    <mat-label>{{ 'content.search' | translate }}</mat-label>
                    <input type="search" matInput formControlName="searchTerm" (keyup.enter)="filterRecords(0)" class="ArFontStyle"/>
                    <mat-icon matPrefix class="material-icons">search</mat-icon>                        
                    <mat-icon matSuffix (click)="clearFilter()" class="material-icons">close</mat-icon>
                </mat-form-field>
            </form>
            <div class="table-container">
                <table mat-table [dataSource]="functionMst" matSort>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'content.actions' | translate }}</th>
                        <td mat-cell *matCellDef="let element" class="text-right">
                            <button mat-raised-button color="warn"(click)="open(content,element.menU_ID)">{{ 'content.delete' | translate }}</button> |
                            <button mat-raised-button color="accent" (click)="GetFunctionMstById(element.menU_ID)">{{ 'content.edit' | translate }}</button>                            
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ModuleId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">{{ 'content.menuId' | translate }}</th>
                        <td mat-cell *matCellDef="let element" class="text-right ArFontStyle"> {{element.menU_ID}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="MenuType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">{{ 'content.menuType' | translate }}</th>
                        <td mat-cell *matCellDef="let element" class="text-right ArFontStyle"> {{element.menU_TYPE}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="MenuName1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">{{ 'content.menuName' | translate }} 1</th>
                        <td mat-cell *matCellDef="let element" class="text-right ArFontStyle"> {{element.menU_NAME1}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="MenuName2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">{{ 'content.menuName' | translate }} 2</th>
                        <td mat-cell *matCellDef="let element" class="text-right ArFontStyle"> {{element.menU_NAME2}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="MenuName3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">{{ 'content.menuName' | translate }} 3</th>
                        <td mat-cell *matCellDef="let element" class="text-right ArFontStyle"> {{element.menU_NAME3}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Link">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">{{ 'content.link' | translate }}</th>
                        <td mat-cell *matCellDef="let element" class="text-left ArFontStyle"> {{element.link}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"
                            [ngClass]="{'hidden':!isLoadingCompleted}" class="functionMstHeader"></tr>
                        <tr mat-row *matRowDef="let formTitleHd; columns: columnsToDisplay"></tr>
                </table>
            </div>
            <div [ngClass]="{'hidden':!isLoadingCompleted}">
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]" (page)="pageChanged($event)" showFirstLastButtons>
                </mat-paginator>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
<br />
<ngb-accordion #ngbListUsers="ngbAccordion" activeIds="ngb-panel-0" class="addUsermst">
    <ngb-panel title="{{ 'content.addEdit' | translate }}">
        <ng-template ngbPanelContent>
            <mat-stepper [linear]="isLinear" #stepper>
                <mat-step stepControlName="menuFormGroup">
                    <form [formGroup]="mainFormGroup">
                        <ng-template matStepLabel>{{ 'content.menu' | translate }}</ng-template>
                        <div formGroupName="menuFormGroup">
                            <div class="row mb-4">
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.menuId' | translate }}</label>
                                    <input type="number" id="form3Example1" class="form-control" formControlName="menU_ID"
                                        required />
                                    <div *ngIf="(menU_ID?.invalid && menU_ID?.touched) || menU_ID?.dirty">
                                        <span *ngIf="menU_ID.errors?.required" class="text-danger">{{ 'content.menuIdValidation' | translate }}</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.masterId' | translate }}</label>
                                    <input type="number" id="form3Example1" class="form-control"
                                        formControlName="masteR_ID" />
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.moduleId' | translate }}</label>
                                    <input type="number" id="form3Example1" class="form-control"
                                        formControlName="modulE_ID" />
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.menuType' | translate }}</label>
                                    <input type="text" id="form3Example1" class="form-control"
                                        formControlName="menU_TYPE" />
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.menuName' | translate }} 1</label>
                                    <input type="text" id="form3Example1" class="form-control " lang="AR-SA"
                                        formControlName="menU_NAME1" />
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.menuName' | translate }} 2</label>
                                    <input type="text" id="form3Example1" class="form-control"
                                        formControlName="menU_NAME2" />
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.menuName' | translate }} 3</label>
                                    <input type="text" id="form3Example1" class="form-control"
                                        formControlName="menU_NAME3" />
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" matStepperNext>{{ 'content.next' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </mat-step>
                <mat-step stepControl="managementFormGroup" label="{{ 'content.management' | translate }}">
                    <form [formGroup]="mainFormGroup">
                        <div formGroupName="managementFormGroup">
                            <div class="row mb-4">
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.link' | translate }}</label>
                                    <input type="text" id="form3Example1" class="form-control " lang="AR-SA"
                                        formControlName="link" />
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.urlOption' | translate }}</label>
                                    <input type="text" id="form3Example1" class="form-control"
                                        formControlName="urloption" />
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.urlRewrite' | translate }}</label>
                                    <input type="text" id="form3Example1" class="form-control"
                                        formControlName="urlrewrite" />
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.menuLocation' | translate }}</label>
                                    <input type="text" id="form3Example1" class="form-control"
                                        formControlName="menU_LOCATION" />
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.menuOrder' | translate }}</label>
                                    <input type="number" id="form3Example1" class="form-control " lang="AR-SA"
                                        formControlName="menU_ORDER" />
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.docParent' | translate }}</label>
                                    <input type="text" id="form3Example1" class="form-control"
                                        formControlName="doC_PARENT" />
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" matStepperNext>{{ 'content.next' | translate }}</button>
                                <button mat-raised-button color="accent" style="margin-right: 4px"
                                    matStepperPrevious>{{ 'content.back' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="activeMenuFormGroup" label="{{ 'content.activeMenu' | translate }}">
                    <form [formGroup]="mainFormGroup">
                        <div formGroupName="activeMenuFormGroup">
                            <div class="row mb-4">
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">Active Menu</label>                                    
                                        <ng-select [(ngModel)]="activeMenuStatus" formControlName="{{ 'content.activeMenu' | translate }}">
                                            <ng-option *ngFor="let item of activeMenuStatusArray" [value]="item.id">{{item.name}}</ng-option>
                                         </ng-select>
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.activeTillDate' | translate }}</label>
                                    <input type="text" class="form-control" bsDatepicker
                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY'  }"
                                        formControlName="activetilldate" />
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" matStepperNext>{{ 'content.next' | translate }}</button>
                                <button mat-raised-button color="accent" style="margin-right: 4px"
                                    matStepperPrevious>{{ 'content.back' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="basicFlagsFormGroup" label="{{ 'content.basicFlags' | translate }}">
                    <form [formGroup]="mainFormGroup">
                        <div formGroupName="basicFlagsFormGroup">
                            <div class="row mb-4">
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.addFlags' | translate }}</label>
                                    <input type="number" id="form3Example1" class="form-control " lang="AR-SA"
                                        formControlName="addflage" id="addflage" name="addflage"/>
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.editFlags' | translate }}</label>
                                    <input type="number" id="form3Example1" class="form-control"
                                        formControlName="editflage" id="editflage" name="editflage"/>
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.deleteFlags' | translate }}</label>
                                    <input type="number" id="form3Example1" class="form-control"
                                        formControlName="delflage" id="delflage" name="delflage"/>
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.myPersonal' | translate }}</label>
                                    <input type="number" id="form3Example1" class="form-control"
                                        formControlName="mypersonal" id="mypersonal" name="mypersonal"/>
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" matStepperNext>{{ 'content.next' | translate }}</button>
                                <button mat-raised-button color="accent" style="margin-right: 4px"
                                    matStepperPrevious>{{ 'content.back' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="extendedFlagsFormGroup" label="{{ 'content.extendedFlags' | translate }}">
                    <form [formGroup]="mainFormGroup">
                        <div formGroupName="extendedFlagsFormGroup">
                            <div class="row mb-4">
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.sp' | translate }}1</label>
                                    <input type="number" id="form3Example1" class="form-control " lang="AR-SA"
                                        formControlName="sP1" id="sP1" name="sP1">
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.sp' | translate }}2</label>
                                    <input type="number" id="form3Example1" class="form-control" 
                                    formControlName="sP2" id="sP2" name="sP2"/>
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.sp' | translate }}3</label>
                                    <input type="number" id="form3Example1" class="form-control" 
                                    formControlName="sP3" id="sP3" name="sP3"/>
                                </div>
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.sp' | translate }}4</label>
                                    <input type="number" id="form3Example1" class="form-control" 
                                    formControlName="sP4" id="sP4" name="sP4"/>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-3 fv-row">
                                    <label class="form-label" for="form3Example1 " lang="AR-SA">{{ 'content.sp' | translate }}5</label>
                                    <input type="number" id="form3Example1" class="form-control " lang="AR-SA"
                                        formControlName="sP5" id="sP5" name="sP5"/>
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" style="margin-right: 4px"
                                    matStepperPrevious>{{ 'content.back' | translate }}</button>
                                <button mat-raised-button color="accent" style="margin-right: 4px"
                                    (click)="AddNewFunctionMst()">{{ 'content.save' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </mat-step>
            </mat-stepper>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

<!--Delete Modal-->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
            <span>Do you want to delete this record</span> 
        </div>
      </form>
    </div>
    <div class="modal-footer text-right">
      <button mat-raised-button color="warn" (click)="modal.close('yes')">Yes</button> &nbsp;&nbsp; 
      <button mat-raised-button color="accent" (click)="modal.close('Save click')">No</button>
    </div>
</ng-template>