<div class="card mb-5 mb-xl-8 ">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5 panel1bgColor">
        <div class="card-toolbar">
            <h3 class="text-dark ArFontStyle header_color" lang="AR-SA">{{ 'content.userFunctions' | translate }}</h3>
        </div>
        <h3 class="card-title align-items-start flex-column">

        </h3>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
        <div class="row mb-6">
            <div class="col-lg-3 fv-row">
                <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle">{{ 'content.tenantId' | translate }}</label>
                <select class="form-control bg-light" aria-label="Select example">
                    <option disabled>--Select Tenent Id--</option>
                    <option value="1" selected disabled>21</option>
                </select>
            </div>
            <div class="col-lg-3 fv-row">
                <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle">{{ 'content.locationId' | translate }}</label>
                <select class="form-control bg-light" aria-label="Select example">
                    <option disabled>--Select Location Id--</option>
                    <option value="1" selected disabled>1</option>
                </select>
            </div>
            <div class="col-lg-3 fv-row">
                <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA">{{ 'content.users' | translate }}</label>
                <select class="form-control" [(ngModel)]="userId" disabled>
                    <option disabled selected>--Select User--</option>
                    <option *ngFor="let user of users$ | async" value="{{user.userId}}">{{user.firstName}}</option>
                </select>
            </div>

        </div>
        <hr />

        <ngb-accordion #acc="ngbAccordion" class="setupUser_functions">
            <ngb-panel title="{{ 'content.moduleWiseMenu' | translate }}">
                <ng-template ngbPanelContent>
                    <div class="row mb-4">
                        <div class="col-lg-4 fv-row">
                            <select class="form-control bg-light" (change)="onMenuItemSelect($event)" [(ngModel)]="SelectedMenuId">
                                <option disabled selected>--{{ 'content.moduleWiseMenu' | translate }}--</option>
                                <option *ngFor="let item of moduleWiseMenuItems$ | async" [value]="item.modulE_ID">
                                    {{item.menU_NAMEEnglish}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4 text-left">
                            <select class="form-control bg-light">
                                <option disabled selected>--{{ 'content.selectMasterId' | translate }}--</option>
                                <option *ngFor="let ids of masterIds$ | async" value="{{ids.masterId}}">
                                    {{ids.menU_NAMEEnglish}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-4 text-left">
                            <button mat-raised-button color="primary" class="m-2" (click)="savedata()">{{ 'content.submitMenuModuleWise' | translate }}
                                </button>
                            <!-- <button mat-raised-button color="accent" class="mt-4">Add</button> -->
                        </div>
                    </div>
                    <!--Mat Table Below here-->
                    <form action="" [formGroup]="headerCheckboxForm">
                    <div class="table-responsive mt-3">
                        <!--begin::Table-->
                        <table class="table table-row-bordered table-hover" >
                        <!--begin::Table head-->
                        <thead class="headingBgColor">                            
                                <tr class="text-center">
                                    <th class="min-w-240px text-center ArFontStyle" lang="AR-SA" >{{ 'content.menuAndSubMenu' | translate}}</th>
                                    <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                        <mat-checkbox class="example-margin" (change)="checkAllCheckBoxvalue($event,'useR_TYPE')" formControlName="AdminFlg" name="AdminFlg"></mat-checkbox>
                                    </th>
                                    <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                        <mat-checkbox class="example-margin"(change)="checkAllCheckBoxvalue($event,'addflage')" formControlName="AddFlg" name="AddFlg"></mat-checkbox>
                                    </th>
                                    <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                        <mat-checkbox class="example-margin"(change)="checkAllCheckBoxvalue($event,'editflage')" formControlName="EditFlg" name="EditFlg"></mat-checkbox>
                                    </th>
                                    <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                        <mat-checkbox class="example-margin"(change)="checkAllCheckBoxvalue($event,'delflage')" formControlName="DelFlg" name="DelFlg"></mat-checkbox>
                                    </th>
                                    <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                        <mat-checkbox class="example-margin"(change)="checkAllCheckBoxvalue($event,'printflage')" formControlName="PrintFlg" name="PrintFlg"></mat-checkbox>
                                    </th>
                                    <th class="min-w-20px ArFontStyle" lang="AR-SA">
                                        <mat-checkbox class="example-margin"(change)="checkAllCheckBoxvalue($event,'emty')" formControlName="EmptyFlg" name="EmptyFlg"></mat-checkbox>
                                    </th>   
                                    <th class="min-w-20px text-center ArFontStyle" lang="AR-SA" >
                                        <mat-checkbox class="example-margin"(change)="checkAllCheckBoxvalue($event,'sP1')" formControlName="Sp1Flg" name="Sp1Flg"></mat-checkbox>
                                    </th>
                                    <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                        <mat-checkbox class="example-margin"(change)="checkAllCheckBoxvalue($event,'sP2')" formControlName="Sp2Flg" name="Sp2Flg"></mat-checkbox>
                                    </th>
                                    <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                        <mat-checkbox class="example-margin"(change)="checkAllCheckBoxvalue($event,'sP3')" formControlName="Sp3Flg" name="Sp3Flg"></mat-checkbox>
                                    </th>
                                    <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                        <mat-checkbox class="example-margin"(change)="checkAllCheckBoxvalue($event,'sP4')" formControlName="Sp4Flg" name="Sp4Flg"></mat-checkbox>
                                    </th>
                                    <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                        <mat-checkbox class="example-margin"(change)="checkAllCheckBoxvalue($event,'sP5')" formControlName="Sp5Flg" name="Sp5Flg"></mat-checkbox>
                                    </th>
                                    <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                        <mat-checkbox class="example-margin"(change)="checkAllCheckBoxvalue($event,'activE_FLAG')" formControlName="ActiveFlg" name="ActiveFlg"></mat-checkbox>
                                    </th>                      
                                </tr>
                            
                        </thead>
                        <thead class="subHeadingBgColor">                            
                            <tr class="text-center">
                                <th class="min-w-240px text-left ArFontStyle" lang="AR-SA" >{{ 'content.menuItems' | translate }}</th>
                                <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                    {{ 'content.admin' | translate }}
                                </th>
                                <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                    {{ 'content.add' | translate }}
                                </th>
                                <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                    {{ 'content.edit' | translate }}
                                </th>
                                <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                    {{ 'content.delete' | translate }}
                                </th>
                                <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                    {{ 'content.print' | translate }}
                                </th>
                                <th class="min-w-20px ArFontStyle" lang="AR-SA">
                                    {{ 'content.label' | translate }}
                                </th>   
                                <th class="min-w-20px text-center ArFontStyle" lang="AR-SA" >
                                    {{ 'content.sp' | translate }}1
                                </th>
                                <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                    {{ 'content.sp' | translate }}2
                                </th>
                                <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                    {{ 'content.sp' | translate }}3
                                </th>
                                <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                    {{ 'content.sp' | translate }}4
                                </th>
                                <th class="min-w-20px ArFontStyle" lang="AR-SA" >
                                    {{ 'content.sp' | translate }}5
                                </th>
                                <th class="min-w-40px ArFontStyle" lang="AR-SA" >
                                    {{ 'content.activeMenu' | translate }}1
                                </th>                      
                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody id="functionsTable">
                            <tr *ngFor="let item of checkData">
                               <div *ngIf="lang == 'ar'">
                                <td class="text-right ArFontStyle" lang="AR-SA">
                                    {{item.menU_NAMEArabic}}
                                  </td>
                               </div>
                               <div *ngIf="lang == 'en'">
                                <td class="text-right">
                                    {{item.menU_NAMEEnglish}}
                                  </td> 
                               </div>
                                <td>
                                    <mat-checkbox class="example-margin" name="useR_TYPE" [checked]="item.useR_TYPE === 1" (change)="checkCheckBoxvalue($event,item,'useR_TYPE')"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin" name="addflage"  [(ngModel)]="item.addflage" [ngModelOptions]="{standalone: true}" (change)="checkCheckBoxvalue($event,item)"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin" name="editflage"  [(ngModel)]="item.editflage" [ngModelOptions]="{standalone: true}" (change)="checkCheckBoxvalue($event,item)"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin" name="delflage"   [(ngModel)]="item.delflage" [ngModelOptions]="{standalone: true}" (change)="checkCheckBoxvalue($event,item)"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin" name="printflage"  [(ngModel)]="item.printflage" [ngModelOptions]="{standalone: true}"  (change)="checkCheckBoxvalue($event,item)"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin" name="emty"  (change)="checkCheckBoxvalue($event,item)"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin"  name="sP1"  [(ngModel)]="item.sP1" [ngModelOptions]="{standalone: true}"  (change)="checkCheckBoxvalue($event,item)"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin"  name="sP2"  [(ngModel)]="item.sP2" [ngModelOptions]="{standalone: true}"  (change)="checkCheckBoxvalue($event,item)"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin" name="sP3" [(ngModel)]="item.sP3" [ngModelOptions]="{standalone: true}"  (change)="checkCheckBoxvalue($event,item)"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin" name="sP4" [(ngModel)]="item.sP4" [ngModelOptions]="{standalone: true}"  (change)="checkCheckBoxvalue($event,item)"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin" name="sP5" [(ngModel)]="item.sP5" [ngModelOptions]="{standalone: true}"  (change)="checkCheckBoxvalue($event,item)"></mat-checkbox>
                                </td>
                                <td>
                                    <mat-checkbox class="example-margin" name="activE_FLAG" [(ngModel)]="item.activE_FLAG" [ngModelOptions]="{standalone: true}"  (change)="checkCheckBoxvalue($event,item)"></mat-checkbox>
                                </td>
                            </tr>
                        </tbody>
                        <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                    </form>
                </ng-template>

            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="card-footer">

    </div>
</div>