<!-- <ngb-accordion #ngbOfferDetails="ngbAccordion" activeIds="ngb-panel-1" opened="true">
    <ngb-panel id="ngb-panel-1">
        <ng-template ngbPanelTitle>
            <h3 class="m-0 ArFontStyle" lang="AR-SA">Vouchers</h3>
        </ng-template>
        <ng-template ngbPanelContent>
            <form [formGroup]="formGroup">
                
                <mat-form-field appearance="fill" class="w-100" floatLabel="never" >
                    <mat-label>Search</mat-label>
                    <input type="search" matInput formControlName="searchTerm" (keyup)="filterRecords()" class="ArFontStyle"/>
                    <mat-icon matPrefix class="material-icons">search</mat-icon>                        
                    <mat-icon matSuffix (click)="clearFilter()" class="material-icons">close</mat-icon>
                </mat-form-field>
                <div class="table-container">
                    <table mat-table class="w-100" [dataSource]="voucherDto" matSort>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let item" class="text-right w-20">
                                <button mat-raised-button color="primary" routerLink="/service-setup/voucher-details/{{item.voucherId}}">Voucher Details</button> 
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="voucherId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Voucher Id </th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle" >{{item.voucherId}} </td>
                        </ng-container>
                        <ng-container matColumnDef="voucherDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Voucher Date</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.voucherDate}}</td>
                        </ng-container> 
                        <ng-container matColumnDef="voucherCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Voucher Code</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.voucherCode}}</td>
                        </ng-container>
                        <ng-container matColumnDef="narrations">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Narrations</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.narrations}}</td>
                        </ng-container>     
                        <ng-container matColumnDef="isPosted">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>IsPosted</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.isPosted}}</td>
                        </ng-container>   
                        <ng-container matColumnDef="totalAmount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.totalAmount}}</td>
                        </ng-container>                                          
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"
                            [ngClass]="{'hidden':!isLoadingCompleted}" class="row_header"></tr>
                        <tr mat-row *matRowDef="let formTitleHd; columns: columnsToDisplay"></tr>
                    </table>
                </div>
                <div [ngClass]="{'hidden':!isLoadingCompleted}">
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </form>
        </ng-template>
    </ngb-panel>
</ngb-accordion> -->

<div class="card mb-5 mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5 panel3bgColor">
        <div class="card-toolbar">
            <h3 class="text-dark ArFontStyle" lang="AR-SA">Vouchers</h3>
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
        <div class="row gx-9 gy-6">
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="w-100" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input type="search" matInput formControlName="searchTerm" (keyup.enter)="filterRecords()"
                        class="ArFontStyle" />
                    <mat-icon matPrefix class="material-icons">search</mat-icon>
                    <mat-icon matSuffix (click)="clearFilter()" class="material-icons">close</mat-icon>
                </mat-form-field>
            </form>
                <div class="table-container">
                    <table mat-table class="w-100" [dataSource]="voucherDto" matSort>
                        <ng-container matColumnDef="empname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name English/Arabic</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.englishName}}
                                {{item.arabicName}}</td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle w-10">{{item.status}} </td>
                        </ng-container>   
                        <ng-container matColumnDef="cepfid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Civil Id/Employee/PF</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle w-20">{{item.civilId}}/{{item.employeeID}}/{{item.pfid}}</td>
                        </ng-container>
                        <ng-container matColumnDef="transid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Id </th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.mytransid}}</td>
                        </ng-container>
                        <ng-container matColumnDef="jvid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>JV Id</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.jvId}}</td>
                        </ng-container>
                        <ng-container matColumnDef="services">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Services</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.serviceType}}</td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let item" class="text-right w-10">
                                <button mat-raised-button color="primary"
                                    (click)="openVoucherModal(voucherModal,item.jvId)">View</button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"
                            [ngClass]="{'hidden':!isLoadingCompleted}" class="m_approval_thead"></tr>
                        <tr mat-row *matRowDef="let formTitleHd; columns: columnsToDisplay"></tr>
                    </table>
                </div>
                <div [ngClass]="{'hidden':!isLoadingCompleted}">
                    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[10,20,50]" 
                    (page)="onPaginationChange($event)" 
                    showFirstLastButtons>
                    </mat-paginator>
                </div>
            
        </div>
    </div>
    <!--begin::Body-->
    <div class="card-footer">

    </div>
</div>

<!--APPROVE SERVICE-->
<ng-template #voucherModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" lang="AR-SA">Voucher details - تفاصيل القسيمة</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div *ngFor="let voucherDetail of voucherDetail">
            <p>Account Id - <b>{{voucherDetail.accountId}}</b> </p>
            <p>Account name - <b>{{voucherDetail.accountName}}</b> </p>
            <p>Amount - <b>{{voucherDetail.amount}}</b> </p>
            <p>Cheque date - <b>{{voucherDetail.chequeDate ? voucherDetail.chequeDate : "No date"}}</b> </p>
            <p>Credit amount - <b>{{voucherDetail.cr}}</b> </p>
            <p>Debit amount - <b>{{voucherDetail.dr}}</b> </p>
            <p>Amount - <b>{{voucherDetail.amount}}</b> </p>
        </div>
    </div>
    <div class="modal-footer text-right">
        <button mat-raised-button color="accent" (click)="modal.close('yes')"
            >Close</button>
    </div>
</ng-template>