<!-- TO GET FORM ID AND SETTINGUP LANGAUGE. -->
<input type="hidden" #AddIncomingLetters name="AddIncomingLetters" value="AddIncomingLetters">
<div class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 mb-3">
    <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
        <div class="row">
            <div class="btn-group" role="group" aria-label="Basic example"
                *ngFor="let bodyLabel of formBodyLabels; let i = index">
                <button type="button" class="btn btn-primary ArFontStyle fluro_btn_shade_i1" lang="AR-SA"
                    (click)="saveClick()">{{bodyLabel[0].title}}</button>
                <button type="button" class="btn btn-primary ArFontStyle fluro_btn_shade_i2"
                    routerLink="/communication/incoming-letter-details"
                    lang="AR-SA">{{bodyLabel[1].title}}</button>
                <button type="button" class="btn btn-primary ArFontStyle fluro_btn_shade_i3" lang="AR-SA"
                    routerLink="/communication/incoming-letter-details"
                    routerLinkActive="active">{{bodyLabel[2].title}}</button>
                <button type="button" class="btn btn-primary ArFontStyle fluro_btn_shade_i4 "
                    lang="AR-SA">{{bodyLabel[3].title}}</button>
            </div>
        </div>
    </div>
</div>

<ngb-accordion #acc="ngbAccordion" class="mb-2" activeIds="ngb-panel-0">
    <ngb-panel id="ngb-panel-0">
        <ng-template ngbPanelTitle>
            <h3 class="m-0 ArFontStyle" lang="AR-SA" id="DocumentAttachments">Add Incomming Letters</h3>
        </ng-template>
        <ng-template ngbPanelContent>
            <div id="kt_billing_payment_tab_content" class="card-body tab-content"
                *ngFor="let bodyLabel of formBodyLabels; let i = index">
                <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
                    <div class="row gx-9 gy-6">
                        <ngb-panel>
                            <form autocomplete="off" [formGroup]="inCommunicationForm">
                                <div class="row">
                                    <div class="col-lg-6 fv-row">
                                        <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                            lang="AR-SA">{{bodyLabel[4].title}}</label>
                                        <ng-select [items]="letterType$ | async" bindLabel="shortName" bindValue="refId"
                                            lang="AR-SA" formControlName="letterType">
                                        </ng-select>
                                        <span class="text-danger"
                                                *ngIf="isFormSubmitted && inCommunicationFrm.letterType.errors?.required">
                                                Letter type is required
                                            </span>
                                    </div>
                                    <div class="col-lg-6 fv-row">
                                        <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                            lang="AR-SA">{{bodyLabel[5].title}}</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" bsDatepicker
                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',containerClass: 'theme-dark-blue' }"
                                                formControlName="receivedSentDate" lang="AR-SA" />                                                  
                                        </div>
                                        <span class="text-danger"
                                                *ngIf="isFormSubmitted && inCommunicationFrm.receivedSentDate.errors?.required">
                                                Document date is required
                                            </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 fv-row">
                                        <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                            lang="AR-SA">{{bodyLabel[6].title}}</label>
                                        <ng-select [items]="partyType$ | async" bindLabel="refname1" bindValue="refId"
                                            lang="AR-SA" formControlName="senderReceiverParty">
                                        </ng-select>
                                        <span class="text-danger"
                                            *ngIf="isFormSubmitted && inCommunicationFrm.senderReceiverParty.errors?.required">
                                            Receiving party is required
                                        </span>
                                    </div>
                                    <div class="col-lg-6 fv-row">
                                        <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                            lang="AR-SA">{{bodyLabel[7].title}}</label>
                                        <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0"
                                            formControlName="representative" />
                                            <span class="text-danger"
                                                *ngIf="isFormSubmitted && inCommunicationFrm.representative.errors?.required">
                                                Representative type is required
                                            </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 fv-row">
                                        <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                            lang="AR-SA">{{bodyLabel[8].title}}</label>
                                        <ng-select [items]="users$ | async" bindLabel="firstName" bindValue="userId"
                                            formControlName="employeeId">
                                        </ng-select>
                                        <span class="text-danger"
                                                *ngIf="isFormSubmitted && inCommunicationFrm.employeeId.errors?.required">
                                                Approved by is required
                                            </span>
                                    </div>
                                    <div class="col-lg-6 fv-row">
                                        <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                            lang="AR-SA">{{bodyLabel[9].title}}</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" bsDatepicker
                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',containerClass: 'theme-dark-blue' }"
                                                formControlName="letterDated" lang="AR-SA" />
                                                
                                        </div>
                                        <span class="text-danger"
                                        *ngIf="isFormSubmitted && inCommunicationFrm.letterDated.errors?.required">
                                        Date is required
                                    </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 fv-row">
                                        <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                            lang="AR-SA">{{bodyLabel[10].title}}</label>
                                        <ng-select [items]="filledAt$ | async" bindLabel="shortName" bindValue="refId"
                                            lang="AR-SA" formControlName="filledAt">
                                        </ng-select>
                                        <span class="text-danger"
                                                *ngIf="isFormSubmitted && inCommunicationFrm.filledAt.errors?.required">
                                                Filled type is required
                                            </span>
                                    </div>
                                    <div class="col-lg-6 fv-row">
                                        <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                            lang="AR-SA">{{bodyLabel[11].title}}</label>
                                        <textarea class="form-control form-control-lg  mb-3 mb-lg-0"
                                            formControlName="description"></textarea>
                                            <span class="text-danger"
                                                *ngIf="isFormSubmitted && inCommunicationFrm.description.errors?.required">
                                                Description is required
                                            </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 fv-row">
                                        <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                            lang="AR-SA">{{bodyLabel[12].title}}</label>
                                        <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0"
                                            formControlName="searchTag" />
                                            <span class="text-danger"
                                                *ngIf="isFormSubmitted && inCommunicationFrm.searchTag.errors?.required">
                                                Search tag is required
                                            </span>
                                    </div>
                                </div>
                            </form>
                        </ngb-panel>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
<br/>
<app-document-attachment></app-document-attachment>
