<!-- TO GET FORM ID AND SETTINGUP LANGAUGE. -->
<input type="hidden" #ImportEmployeeMaster name="ImportEmployeeMaster" value="ImportEmployeeMaster">
<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header card-header-stretch pb-0 header_bg">
        <!--begin::Title-->
        <div class="card-title" *ngFor="let label of formHeaderLabels; let i = index">
            <h3 class="m-0 text-white ArFontStyle" lang="AR-SA">{{label.headerName}}</h3>
        </div>
        <!--end::Title-->
    </div>
    <!--end::Card header-->
    <!--begin::Tab content-->
    <div id="kt_billing_payment_tab_content" class="card-body tab-content" *ngFor="let bodyLabel of formBodyLabels; let i = index">
        <!--begin::Tab panel-->
        <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
            <!--begin::Title-->
            <!-- <h3 class="mb-5">Personal Information</h3> -->
            <!--end::Title-->
            <!--begin::Row-->
            <div class="row gx-9 gy-6">
                <form autocomplete="off">
                    <div class="row mb-4">                       
                        <div class="col-lg-9 fv-row">
                            <div class="mt-4">
                                <label for="formFile" class="form-label ArFontStyle" lang="AR-SA">Select Sample Filetype</label>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <ng-select 
                                            [(ngModel)]="selectedSampleFile"
                                            [ngModelOptions]="{ standalone: true }">
                                            <ng-option *ngFor="let sampleFileType of sampleFileTypes" [value]="sampleFileType.value">{{ sampleFileType.text }}</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-secondary float-right" lang="AR-SA" (click)="downloadFile()">Download Sample File</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">                       
                        <div class="col-lg-6 fv-row">
                            <div class="mt-4">
                                <label for="formFile" class="form-label ArFontStyle" lang="AR-SA">{{bodyLabel[0].title}}</label>
                                <input class="form-control" type="file" id="formFile" (change)="onFileChange($event.target.files)">
                                <span><small class="text-danger ArFontStyle" lang="AR-SA"></small></span>
                              </div>
                        </div>
                    </div>
                  
                </form>
            </div>
            <!--end::Row-->
        </div>

    </div>
    <!--end::Tab content-->
    <div class="card-footer d-flex justify-content-end py-6 px-9 " *ngFor="let bodyLabel of formBodyLabels; let i = index">
        <button type="button" class="btn btn-primary float-right ArFontStyle btn-bg" lang="AR-SA" (click)="uploadEmployeeExcelFile()"> {{bodyLabel[4].title}}</button>
    </div>
</div>