<!--begin::Form-->
<div class="
    d-flex
    flex-column flex-column-fluid
    bgi-position-y-bottom
    position-x-center
    bgi-no-repeat bgi-size-contain 
  " style="background-image: url('assets/media/illustrations/sketchy-1/14.png');">
  <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
    <a routerLink="/" class="mb-6">
      <img alt="Logo" src="assets/media/logos/SSF logo.png" style="width: 500px;height: 80px;" />
    </a>
    <div class="w-lg-500px p-10 p-lg-15 mx-auto">      
      <form class="form w-100" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <!--begin::Heading-->
        <div class="text-center mb-7">
          <h1 class="text-dark mb-3">Sign In</h1>
        </div>
        <div class="text-center mb-7">
          <h3 class="text-gray-400 mb-3 fw-bolder">Enter your details to login to your account</h3>
        </div>
        <!--Tenant ID-->
        <!-- <div class="row">
          <div class="col-md-6">
            <label class="form-label fs-6 fw-bolder text-dark ArFontStyle" lang="AR-SA">هوية المستأجر</label>
          </div>
          <div class="col-md-6 text-left">
            <label class="form-label fs-6 fw-bolder text-dark">Tenant Id</label>
          </div>          
        </div>
        <div class="fv-row mb-10">
          <input type="number" class="form-control form-control-lg form-control-solid" value="21"/>
        </div> -->
        <!-- end::Alert info-->
        <!-- <div class="row">
          <div class="col-md-6">
            <label class="form-label fs-6 fw-bolder text-dark ArFontStyle" lang="AR-SA">تسجيل الدخول
</label>
          </div>
          <div class="col-md-6 text-left">
            <label class="form-label fs-6 fw-bolder text-dark ">Login ID</label>
          </div>
        </div> -->
        <div class="row mb-10">
          <input type="text" class="form-control form-control-lg form-control-solid" formControlName="tenentId"
            required placeholder="Tenant Id"/>
          <div *ngIf="(tenentId?.invalid && tenentId?.touched) || tenentId?.dirty">
            <span *ngIf="tenentId.errors?.required" class="text-danger">Please enter tenent Id</span>
          </div>
        </div>
        <div class="row mb-10">
          <input type="email" class="form-control form-control-lg form-control-solid" formControlName="useremail"
            required placeholder="Email"/>
          <div *ngIf="(useremail?.invalid && useremail?.touched) || useremail?.dirty">
            <span *ngIf="useremail.errors?.required" class="text-danger">Please enter user email</span>
            <span *ngIf="useremail.errors?.email" class="text-danger">Email is invalid</span>
          </div>
        </div>
        <!--end::Form group-->

        <!--begin::Form group-->
        <!-- <div class="row">
          <div class="col-md-6">
            <label class="form-label fw-bolder text-dark fs-6 mb-0 ArFontStyle" lang="AR-SA">كلمه السر</label>
          </div>
          <div class="col-md-6 text-left">
            <label class="form-label fw-bolder text-dark fs-6 mb-0">Password </label>
          </div>
        </div> -->
        <div class="row mb-10">
          <input type="password" class="form-control form-control-lg form-control-solid" formControlName="password"
            required placeholder="Password"/>
          <span class="text-danger" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty 
            || loginForm.controls['password'].touched)">
            Please enter password
          </span>
        </div>
        <!--Location ID-->
        
          <!-- <div class="row">           
            <div class="col-md-6">
              <label class="form-label fs-6 fw-bolder text-dark ArFontStyle" lang="AR-SA">معرف الموقع</label>
            </div>
            <div class="col-md-6 text-left">
              <label class="form-label fs-6 fw-bolder text-dark ">Location Id</label>
            </div>   
            <select  id="locations" class="form-control form-control-lg form-control-solid">            
              <option selected>-Select-</option>
              <option value="1" selected>1</option>   
              <option value="2">2</option>          
            </select> 
          </div> -->
      
        
        <!--end::Form group-->
        <div class="row mb-4 text-left">
          <a routerLink="/auth/forgot-password" class="link-primary fs-6 fw-bolder">
            ? Forgot Password
          </a>
        </div>
        <!--begin::Action-->
        <div class="text-center">
          <button type="submit" class="btn btn-primary mb-5 mt-5">
              <ng-container *ngIf="isLoading$ | async">
                <span class="indicator-progress" [style.display]="'block'">
                  Please wait...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
            <ng-container *ngIf="!(isLoading$ | async)">
              <span class="indicator-label">Sign In</span>
            </ng-container>
          </button>
        </div>
        <!--end::Action-->
      </form>
    </div>
  </div>
</div>

