
  <!-- <div *ngIf="lang === 'en' && menuHeading.length > 0">
    <div class="menu-item menu-accordion here hidding" data-kt-menu-trigger="click" routerLinkActive="here show" *ngFor="let mainMenu of menuHeading">
      <span class="menu-link">
        <span class="menu-icon"><i [ngClass]="mainMenu.headingIconPath"></i></span>        
        <span class="menu-title" data-link="/error">{{mainMenu.headingNameEnglish}}</span>
        <span class="menu-arrow" *ngIf="mainMenu.headingNameEnglish != 'Dashboard*'"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">
          <ng-container *ngFor="let subMenu of mainMenu.menuItems">
            <div class="menu-item menu-accordion here hidding" data-kt-menu-trigger="click" routerLinkActive="here show"  *ngIf="subMenu.menuItems.length > 0">  
              <span class="menu-link">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>      
                <span class="menu-title" data-link="/error">{{subMenu.menuItemNameEnglish}}</span>
                <span class="menu-arrow"></span>
              </span>
              <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">
                  <ng-container *ngFor="let childMenu of subMenu.menuItems">
                    <a class="menu-link" [routerLink]="childMenu.menuItemLink">
                      <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                      </span>
                      <span class="menu-title">{{childMenu.menuItemNameEnglish}}</span>
                    </a>
                  </ng-container>
                </div>
              </div>              
            </div> 
            <div class="menu-item" *ngIf="subMenu.menuItems.length == 0"> 
              <a class="menu-link" [routerLink]="subMenu.menuItemLink">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title ArFontStyle" lang="SA-AR">{{subMenu.menuItemNameEnglish}}</span>
              </a>
            </div>
          </ng-container>                 
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="lang === 'ar' && menuHeading.length > 0">
    <div class="menu-item menu-accordion here hidding" data-kt-menu-trigger="click" routerLinkActive="here show" *ngFor="let mainMenu of menuHeading">
      <span class="menu-link">
        <span class="menu-icon"><i [ngClass]="mainMenu.headingIconPath"></i></span>        
        <span class="menu-title ArFontStyle" lang="SA-AR" data-link="/error">{{mainMenu.headingNameArabic}}</span>
        <span class="menu-arrow" *ngIf="mainMenu.headingNameArabic != 'لوحة القيادة'"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">
          <ng-container *ngFor="let subMenu of mainMenu.menuItems">
            <div class="menu-item menu-accordion here hidding" data-kt-menu-trigger="click" routerLinkActive="here show"  *ngIf="subMenu.menuItems.length > 0">  
              <span class="menu-link">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>      
                <span class="menu-title ArFontStyle" lang="SA-AR" data-link="/error">{{subMenu.menuItemNameArabic}}</span>
                <span class="menu-arrow"></span>
              </span>
              <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
                <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">
                  <ng-container *ngFor="let childMenu of subMenu.menuItems">
                    <a class="menu-link" [routerLink]="childMenu.menuItemLink">
                      <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                      </span>
                      <span class="menu-title ArFontStyle" lang="SA-AR">{{childMenu.menuItemNameArabic}}</span>
                    </a>
                  </ng-container>
                </div>
              </div>              
            </div> 
            <div class="menu-item" *ngIf="subMenu.menuItems.length == 0"> 
              <a class="menu-link" [routerLink]="subMenu.menuItemLink">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title ArFontStyle" lang="SA-AR">{{subMenu.menuItemNameArabic}}</span>
              </a>
            </div>
          </ng-container>           
        </div>
      </div>
    </div>
  </div> -->
  

<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">Service</span>
  </div>
</div>

<div class="menu-item menu-accordion here hidding" data-kt-menu-trigger="click" routerLinkActive="here show" > 
  <span class="menu-link"><span class="menu-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M3 2H10C10.6 2 11 2.4 11 3V10C11 10.6 10.6 11 10 11H3C2.4 11 2 10.6 2 10V3C2 2.4 2.4 2 3 2Z"
          fill="currentColor" />
        <path opacity="0.3"
          d="M14 2H21C21.6 2 22 2.4 22 3V10C22 10.6 21.6 11 21 11H14C13.4 11 13 10.6 13 10V3C13 2.4 13.4 2 14 2Z"
          fill="currentColor" />
        <path opacity="0.3"
          d="M3 13H10C10.6 13 11 13.4 11 14V21C11 21.6 10.6 22 10 22H3C2.4 22 2 21.6 2 21V14C2 13.4 2.4 13 3 13Z"
          fill="currentColor" />
        <path opacity="0.3"
          d="M14 13H21C21.6 13 22 13.4 22 14V21C22 21.6 21.6 22 21 22H14C13.4 22 13 21.6 13 21V14C13 13.4 13.4 13 14 13Z"
          fill="currentColor" />
      </svg>
    </span>
    <span class="menu-title" data-link="/error">Membership Management</span><span class="menu-arrow"></span></span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">   
    <!-- <div class="menu-item">
      <a class="menu-link" routerLink="/references/subscription-details" routerLinkActive="active">        
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Membership Request</span>
      </a>
    </div> -->
     
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/service-setup/manage-approvals" routerLinkActive="active"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Manager
          Approvals</span></a>
    </div>    
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/service-setup/financial-approval" routerLinkActive="active"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Financial
          Approvals</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/service-setup/cashier-approval" routerLinkActive="active"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Cashier
          Approvals</span></a> 
    </div>
    <div class="menu-item">
      <a class="menu-link" routerLink="/references/subscription-details" routerLinkActive="active">        
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Online Membership Request</span>
      </a>      
    </div>
    <!-- <div data-kt-menu-trigger="click" class="menu-item menu-accordion here">
      <span class="menu-link">
        <span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Member’s Transaction </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;" kt-hidden-height="78">
        <div class="menu-item">
          <a class="menu-link" routerLink="/service-setup/employee-movement-details">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Add Employee Movement </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" routerLink="/service-setup/employee-monent-details">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Drop a member </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" routerLink="/service-setup/employee-monent-details">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Membership Cessation </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" routerLink="/service-setup/employee-monent-details">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Withdrawal</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link" routerLink="/service-setup/employee-monent-details">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">End of Service</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLink="/service-setup/employee-monent-details"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Death
              Disability</span></a>
        </div>
      </div>
    </div> -->
  </div>
 
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">Services  Management</span>
  </div>
</div>

  <div data-kt-menu-trigger="click" class="menu-item menu-accordion here hidding" routerLinkActive="here show">
    <span class="menu-link">
      <span class="menu-bullet">
        <span class="bullet bullet-dot"></span>
      </span>
      <span class="menu-title text-success">Services  Management</span>
      <span class="menu-arrow"></span>
    </span>
    <div class="menu-sub menu-sub-accordion" kt-hidden-height="78"> 
      <div class="menu-item">
        <a class="menu-link without-sub" routerLink="/service-setup/add-service"><span
            class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title text-success">Add Service</span><!--display add service form-->
          </a>
      </div> 
      <div class="menu-item">
        <a class="menu-link without-sub" routerLink="/service-setup/service-details"><span
            class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title text-success">Service Details</span><!--display service details form-->
          </a>
      </div> 
      <div class="menu-item">
        <a class="menu-link without-sub" routerLink="/service-setup/service-details"><span
            class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title text-success">View Service</span><!--display view service form-->
          </a>
      </div> 
      <div class="menu-item">
        <a class="menu-link without-sub" routerLink="/service-setup/service-details"><span
            class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title text-success">Delete Service</span><!--display delete service form-->
          </a>
      </div> 
      <div class="menu-item">
        <a class="menu-link without-sub" routerLink="/service-setup/import-emplyee-monthly-payment"><span
            class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title text-success">Import Monthly Data</span><!--Not Implemented.-->
          </a>
      </div> 
      <!-- <div data-kt-menu-trigger="click" class="menu-item menu-accordion here">
        <span class="menu-link">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title text-success">Financial Services </span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;" kt-hidden-height="78">
          <div class="menu-item">
            <a class="menu-link without-sub" routerLink="/service-setup/service-details"><span
                class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title text-success">Add Service</span>
              </a>
          </div>          
          <div class="menu-item">
            <a class="menu-link without-sub"  routerLink="/service-setup/service-details" ><span class="menu-bullet"><span
                  class="bullet bullet-dot"></span></span><span class="menu-title">Hajj Loan</span></a>
          </div>
          <div class="menu-item">
            <a class="menu-link without-sub" routerLink="/service-setup/service-details"><span class="menu-bullet"><span
                  class="bullet bullet-dot"></span></span><span class="menu-title">Social Loan</span></a>
          </div>
          <div class="menu-item">
            <a class="menu-link without-sub" routerLink="/service-setup/service-details" ><span class="menu-bullet"><span
                  class="bullet bullet-dot"></span></span><span class="menu-title">Financial Loan</span></a>
          </div>
          <div class="menu-item">
            <a class="menu-link without-sub" routerLink="/service-setup/service-details" ><span class="menu-bullet"><span
                  class="bullet bullet-dot"></span></span><span class="menu-title">Submit Request for Social Assistance
              </span></a>
          </div>
        </div>      
      </div> -->
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion here">
        <span class="menu-link">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">Social Services </span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;" kt-hidden-height="78">
          <div class="menu-item">
            <a class="menu-link" routerLink="/references/employee-certificate-details" >        
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Employee Certficate</span>
            </a>      
          </div> 
          <div class="menu-item">
            <a class="menu-link" routerLink="/references/employee-certificate-details" >        
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Membership Certification </span>
            </a>      
          </div>
          <div class="menu-item">
            <a class="menu-link" routerLink="/references/employee-certificate-details" >        
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Debit Certification </span>
            </a>      
          </div>
          <div class="menu-item">
            <a class="menu-link" routerLink="/references/employee-certificate-details" >        
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Settlement Certification</span>
            </a>      
          </div>
          <div class="menu-item">
            <a class="menu-link" routerLink="/references/employee-certificate-details" >        
              <span class="menu-bullet">
                <span class="bullet bullet-dot"></span>
              </span>
              <span class="menu-title">Social Activity</span>
            </a>      
          </div> 
        </div>      
      </div>
      <!-- <div data-kt-menu-trigger="click" class="menu-item menu-accordion here">
        <span class="menu-link">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title">After Services </span>
          <span class="menu-arrow"></span>
        </span>
        <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;" kt-hidden-height="78">
          <div class="menu-item">
            <a class="menu-link without-sub" routerLink="/references/employee-discount-details" routerLinkActive="active"><span class="menu-bullet"><span
                  class="bullet bullet-dot"></span></span><span class="menu-title">Request for the Discount </span></a>
          </div>
          <div class="menu-item">
            <a class="menu-link without-sub" routerLink="/references/employee-discount-details" routerLinkActive="active"><span class="menu-bullet"><span
                  class="bullet bullet-dot"></span></span><span class="menu-title">Request for Loan Removal </span></a>
          </div>
        </div>      
      </div> -->
  </div>
 
</div>

<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">Employees Data</span>
  </div>
</div>

<div class="menu-item menu-accordion here hidding" data-kt-menu-trigger="click" routerLinkActive="here show" >
  <span class="menu-link"><span class="menu-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M3 2H10C10.6 2 11 2.4 11 3V10C11 10.6 10.6 11 10 11H3C2.4 11 2 10.6 2 10V3C2 2.4 2.4 2 3 2Z"
          fill="currentColor" />
        <path opacity="0.3"
          d="M14 2H21C21.6 2 22 2.4 22 3V10C22 10.6 21.6 11 21 11H14C13.4 11 13 10.6 13 10V3C13 2.4 13.4 2 14 2Z"
          fill="currentColor" />
        <path opacity="0.3"
          d="M3 13H10C10.6 13 11 13.4 11 14V21C11 21.6 10.6 22 10 22H3C2.4 22 2 21.6 2 21V14C2 13.4 2.4 13 3 13Z"
          fill="currentColor" />
        <path opacity="0.3"
          d="M14 13H21C21.6 13 22 13.4 22 14V21C22 21.6 21.6 22 21 22H14C13.4 22 13 21.6 13 21V14C13 13.4 13.4 13 14 13Z"
          fill="currentColor" />
      </svg>
    </span>
    <span class="menu-title text-success" data-link="/error">Employee Management</span><span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div data-kt-menu-trigger="click" class="menu-item menu-accordion mb-1">
      <div class="menu-item">
        <a class="menu-link" routerLink="/employee/view-employee">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title text-success">Add Employee</span>
        </a>
      </div>
      <div class="menu-item">
        <a class="menu-link" routerLink="/employee/view-contact">
          <span class="menu-bullet">
            <span class="bullet bullet-dot"></span>
          </span>
          <span class="menu-title text-success">View Employee</span>
        </a>
      </div>
      <div class="menu-item">
        <a class="menu-link without-sub" routerLink="/employee/import-employee-master" routerLinkActive="active"><span
            class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Import
            Employee Excel Sheet</span></a>
      </div>
      <!-- <div class="menu-item">
        <a class="menu-link without-sub" routerLink="/service-setup/import-emplyee-monthly-payment"
          routerLinkActive="active"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
            class="menu-title">Import Employee Monthly Payment</span></a>
      </div> -->
    </div>
  </div>
</div>


<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">Communication</span>
  </div>
</div>

<div class="menu-item menu-accordion here hidding" data-kt-menu-trigger="click" routerLinkActive="here" >
  <span class="menu-link"><span class="menu-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path
          d="M6 8.725C6 8.125 6.4 7.725 7 7.725H14L18 11.725V12.925L22 9.725L12.6 2.225C12.2 1.925 11.7 1.925 11.4 2.225L2 9.725L6 12.925V8.725Z"
          fill="currentColor" />
        <path opacity="0.3"
          d="M22 9.72498V20.725C22 21.325 21.6 21.725 21 21.725H3C2.4 21.725 2 21.325 2 20.725V9.72498L11.4 17.225C11.8 17.525 12.3 17.525 12.6 17.225L22 9.72498ZM15 11.725H18L14 7.72498V10.725C14 11.325 14.4 11.725 15 11.725Z"
          fill="currentColor" />
      </svg>
    </span><span class="menu-title" data-link="/error">Communication</span><span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/communication/incoming-letter-details" routerLinkActive="active"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Register incoming
          Letter</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/communication/outgoing-letter-details" routerLinkActive="active"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Register Outgoing
          Letter</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/communication/print-labels" routerLinkActive="active"
      (click)="toPrint('Communication')"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Print
          Label</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/communication/archieve" routerLinkActive="active"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Archives
        </span></a>
    </div>
  </div>
</div>



<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">Website Maintenance</span>
  </div>
</div>

<div class="menu-item menu-accordion here hidding" data-kt-menu-trigger="click" routerLinkActive="here show" >
  <span class="menu-link"><span class="menu-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path opacity="0.3"
          d="M21.3 11.9C21.3 17.1 17.1 21.3 12 21.3C6.8 21.3 2.70001 17.1 2.70001 11.9C2.70001 6.70002 6.9 2.5 12 2.5C17.2 2.6 21.3 6.80002 21.3 11.9Z"
          fill="currentColor" />
        <path
          d="M12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2ZM20 11.5C18.2 11.3 16.4 11.3 14.8 11.6C14.6 11 14.3 10.4 14.1 9.90002C15.6 9.10002 17.1 8.10002 18.3 6.90002C19.2 8.20002 19.9 9.8 20 11.5ZM16.7 5.59998C15.6 6.59998 14.4 7.49995 13.1 8.19995C12.4 6.79995 11.6 5.49995 10.7 4.19995C11.1 4.09995 11.5 4.09998 12 4.09998C13.8 3.99998 15.4 4.59998 16.7 5.59998ZM8.70001 4.69995C9.70001 6.09995 10.5 7.50002 11.3 8.90002C9.09999 9.70002 6.79999 10 4.29999 9.80005C4.89999 7.60005 6.60001 5.69995 8.70001 4.69995ZM4 12C4 11.9 4 11.9 4 11.8C4.5 11.8 5.10001 11.9 5.60001 11.9C7.90001 11.9 10.1 11.5 12.1 10.7C12.3 11.2 12.5 11.7 12.7 12.1C10.1 13 7.70001 14.6 5.70001 17C4.70001 15.6 4 13.9 4 12ZM7.20001 18.4C9.00001 16.3 11.1 14.8 13.4 14C14 15.8 14.4 17.6 14.7 19.5C13.8 19.8 12.9 20 11.9 20C10.2 20 8.60001 19.4 7.20001 18.4ZM16.6 18.5C16.3 16.8 15.9 15.2 15.4 13.5C16.8 13.3 18.3 13.3 19.8 13.5C19.4 15.6 18.3 17.3 16.6 18.5Z"
          fill="currentColor" />
      </svg>
    </span><span class="menu-title">Website</span><span class="menu-arrow"></span></span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/website-maintenace/carousal-details" routerLinkActive="active"><span class="menu-bullet"><span
            class="bullet bullet-dot"></span></span><span class="menu-title">Carousal Maintenance</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/website-maintenace/special-offer-maintenance" routerLinkActive="active"><span class="menu-bullet"><span
            class="bullet bullet-dot"></span></span><span class="menu-title">Special Offer Display
          Maintenance</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/website-maintenace/offer-received-maintenance" routerLinkActive="active"><span class="menu-bullet"><span
            class="bullet bullet-dot"></span></span><span class="menu-title">Special Offer Received handling</span></a>
    </div>
  </div>
</div>

<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1 ">Setup</span>
  </div>
</div>
<div class="menu-item menu-accordion here" data-kt-menu-trigger="click" routerLinkActive="here">
  <span class="menu-link">
    <span class="menu-icon">
      
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path opacity="0.3"
          d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z"
          fill="currentColor" />
        <path
          d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z"
          fill="currentColor" />
      </svg>
      
    </span><span class="menu-title text-success" data-link="/error">Setup</span>
    <span class="menu-arrow">
    </span></span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/references/reference-details" routerLinkActive="active"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title text-success">
          References</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/references/add-university-tenant" routerLinkActive="active"><span class="menu-bullet"><span
            class="bullet bullet-dot"></span></span><span class="menu-title"> University </span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/service-setup/service-setup-details"  routerLinkActive="active"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title text-success"> Service
          Setup</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/communication/print-labels" routerLinkActive="active" (click)="toPrint('Setup')"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">
          Labels</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/users/user-details" routerLinkActive="active"><span class="menu-bullet"><span
            class="bullet bullet-dot"></span></span><span class="menu-title">System Users</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/users/user-details" routerLinkActive="active"><span class="menu-bullet"><span
            class="bullet bullet-dot"></span></span><span class="menu-title">System Functions</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/users/user-functions" routerLinkActive="active"><span class="menu-bullet"><span
            class="bullet bullet-dot"></span></span><span class="menu-title text-success">User Functions</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/users/user-mst" routerLinkActive="active"><span class="menu-bullet"><span
            class="bullet bullet-dot"></span></span><span class="menu-title text-success">User MST</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/users/function-mst" routerLinkActive="active"><span class="menu-bullet"><span
            class="bullet bullet-dot"></span></span><span class="menu-title text-success">Function MST</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/service-setup/add-documents" routerLinkActive="active"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">
          Document</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/references/manage-form-labels"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title text-success">Language</span>
        </a>
    </div>    
  </div>
</div>