.panelBackgroundColor{
    background-color: var(--fluroscent-blue);
}
.ArFontStyle{
    font-family:"Tahoma","sans-serif"
}

.bg-btn-print-labels{
    background-color: var(--light-sea-green);

    &.btn {
        &.btn-primary:hover, &.btn-primary:focus, &.btn-primary:active {
            background-color: #2b9b97 !important; 
        }
    }
}
